.table-card {
  padding: 0;
  overflow: hidden;
}

.action-header {
  padding: 10px 10px 0;
  margin-bottom: -10px;
}

::ng-deep .cdk-cell {
  padding-right: 15px !important;
}

::ng-deep tbody tr:hover {
  background-color: #e9e9e9 !important;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(.96);
  }
  65% {
    opacity: .8;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

::ng-deep thead tr {
  background-color: rgba(0,0,0,.05) !important;
}

::ng-deep thead tr button, ::ng-deep .cdk-header-cell {
  font-weight: 700 !important;
}

::ng-deep tfoot tr {
  background-color: rgba(0,0,0,.05) !important;
}

::ng-deep .cdk-column-actions {
  width: 58px !important;
  padding-right: 5px !important;
  text-align: end;

  .small-icon-button {
    width: 31px !important;
    height: 31px !important;
    line-height: 31px !important;

    .mat-icon {
      width: 23px !important;
      height: 23px !important;
      line-height: 23px !important;
    }
    .material-icons {
      font-size: 23px !important;
    }
  }

  .save-button {
    color: #388E3C;

    ::ng-deep .mat-icon {
      padding-bottom: 5px !important;
    }
  }

  .cancel-save-button, .edit-button {
    color: dimgray;

    ::ng-deep .mat-icon {
      padding-bottom: 5px !important;
    }
  }

  .delete-button {
    color: #e74c3c;

    ::ng-deep .mat-icon {
      padding-bottom: 5px !important;
    }
  }
}

.highlighted-row {
  background-color: #e9e9e9 !important;
}

@media only screen and (min-width: 1115px) {
  table {
    width: 100%;
    table-layout: fixed;
  }

  th, td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
