<mat-card class="table-card">
  <div fxLayout fxLayoutGap="20px" fxLayoutAlign="start center" class="action-header">
    <mat-form-field appearance="fill" *ngIf="!!settings.filterable">
      <mat-label>Suche</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Suche">
    </mat-form-field>
    <div *ngIf="!!settings.allowBatchMode">
      <button mat-flat-button color="primary" (click)="switchBatchMode()">Batch Mode</button>
    </div>
  </div>

  <table
    mat-table
    matSort
    [matSortDisabled]="!!!settings.sortable"
    [dataSource]="dataSource"
    style="width: 100%"
    *ngIf="hasData"
  >
    <!-- Checkbox column -->
    <ng-container matColumnDef="select" *ngIf="isBatchMode && !!settings.allowBatchMode">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()"
                      color="primary">
        </mat-checkbox>
      </th>
      <td
        mat-cell *matCellDef="let row; let i = index"
        (click)="selection.toggle(row); onClickRow({data: row, index: i});"
        (dblclick)="onDoubleClickRow({data: data, index: i})"
        [class.highlighted-row]="rightClickMenuRowIndex === i"
      >
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)"
                      color="primary">
        </mat-checkbox>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <!-- Normal cell columns -->
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!!!column.sortable"> {{column.name}} </th>
      <td
        [ngStyle]="{'cursor': !!settings.rowCursor ? settings.rowCursor : 'normal', 'opacity': hasAlreadyAnimated ? '1' : '0', 'animation': hasAlreadyAnimated ? 'none' : '.6s ease forwards 1 FadeIn', 'animation-delay': '.' + i + 's'}"
        [class.highlighted-row]="rightClickMenuRowIndex === i"
        mat-cell
        *matCellDef="let data; let i = index"
        (contextmenu)="onContextMenu($event, {data: data, index: i, column: column})"
        (click)="onClickCell({data: data, index: i, column: column})"
        (dblclick)="onDoubleClickCell({data: data, index: i, column: column})"
      >
        <ng-container *ngTemplateOutlet="isRowNotEdited(i) ? tableCell : inputCell; context: { $implicit: {data: data, index: i, column: column} }"></ng-container>
      </td>
      <td mat-footer-cell *matFooterCellDef> {{column.footer ? column.footer(dataSource.filteredData) : ''}} </td>
    </ng-container>

    <!-- Action column -->
    <ng-container matColumnDef="actions" *ngIf="isVisibleActionColumn()">
      <th mat-header-cell *matHeaderCellDef></th>
      <td
        mat-cell
        *matCellDef="let data; let i = index"
        [class.highlighted-row]="rightClickMenuRowIndex === i"
      >
        <ng-container *ngTemplateOutlet="isRowNotEdited(i) ? normalActions : editActions; context: { $implicit: {data: data, index: i} }"></ng-container>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="visibleColumnIdentifiers"></tr>
    <tr mat-row *matRowDef="let row; columns: visibleColumnIdentifiers;"></tr>
    <ng-container *ngIf="hasFooter">
      <tr mat-footer-row *matFooterRowDef="visibleColumnIdentifiers"></tr>
    </ng-container>
  </table>

  <div *ngIf="!hasData" style="padding: 20px">
    No data is available
  </div>
</mat-card>

<!-- Templates for cell columns -->
<!-- cell is of type TableCell -->
<ng-template #tableCell let-cell>
  <ng-container *ngTemplateOutlet="(!!!cell.column.cellType || cell.column.cellType === 'text') ? textCell : customCell; context: { $implicit: cell }"></ng-container>
</ng-template>
<ng-template #textCell let-cell>
  <span [matTooltip]="cell.data[cell.column.prop]" matTooltipShowDelay="550">{{cell.data[cell.column.prop]}}</span>
</ng-template>
<ng-template #customCell let-cell>
  <div [ngSwitch]="cell.column.cellType">
    <app-checkbox-cell *ngSwitchCase="'checkbox'" [checked]="cell.data.disabled"></app-checkbox-cell>
  </div>
</ng-template>
<ng-template #inputCell let-cell>
  <ng-container *ngIf="cell.column.input.type === 'text'">
    <app-text [group]="formGroup" [name]="cell.column.id" [label]="cell.column.name" [appFocusInput]="cell.column.id === focusColumn"></app-text>
  </ng-container>
  <ng-container *ngIf="cell.column.input.type === 'autocomplete'">
    <app-autocomplete [group]="formGroup" [name]="cell.column.id" [options]="cell.column.input.options" [appFocusInput]="cell.column.id === focusColumn"></app-autocomplete>
  </ng-container>
</ng-template>

<!-- Templates for action column -->
<!-- row is of type TableRow -->
<ng-template #normalActions let-row>
  <button
    mat-icon-button
    class="small-icon-button delete-button"
    (click)="delete.emit(row.data)"
    *ngIf="!!settings.deletable"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    mat-icon-button
    class="small-icon-button edit-button"
    (click)="focusColumn = visibleColumnIdentifiers[0]; onEdit(row)"
    *ngIf="!!settings.editable"
  >
    <mat-icon>edit</mat-icon>
  </button>
</ng-template>
<ng-template #editActions let-row>
  <button
    mat-icon-button
    (click)="onSave(row.data)"
    [disabled]="!formGroup.valid"
    class="small-icon-button save-button"
  >
    <mat-icon
      matTooltip="Form is not valid"
      [matTooltipDisabled]="formGroup.valid"
    >save</mat-icon>

  </button>
  <button
    mat-icon-button
    (click)="onCancelSave(row.index)"
    class="small-icon-button cancel-save-button"
  >
    <mat-icon>cancel</mat-icon>
  </button>
</ng-template>

<!-- Right Click Menu -->
<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-cell="cell">
    <button mat-menu-item *ngFor="let entry of rightClickMenu" (click)="entry.function(cell)">{{entry.label}}</button>
  </ng-template>
</mat-menu>
