<div class="mat-elevation-z3 card">

  <div fxLayout="row" fxLayoutAlign="start stretch">
    <div fxFlex="35" class="card-header" fxLayout="column" fxLayoutAlign="start">
      <div class="mat-title">{{title}}</div>
      <div class="card-sub-header">{{subtitle}}</div>
    </div>
    <div fxFlex="65" class="card-body mat-body-1">
      <div class="card-body-content" fxLayout="column" fxLayoutAlign="space-between stretch">
        <ng-content></ng-content>
      </div>
    </div>
  </div>

</div>

<div fxLayout="row" fxLayoutAlign="space-between center" class="footer">
  <button mat-icon-button [matMenuTriggerFor]="languageSettings">
    <mat-icon aria-hidden="false" aria-label="Language Settings">translate</mat-icon>
  </button>

  <div fxLayout fxLayoutGap="20px" class="footer-nav">
    <a href="#">{{ 'auth.Help' | transloco }}</a>
    <a href="#">{{ 'auth.Data Protection' | transloco }}</a>
  </div>
</div>

<!-- TODO MF: Refactor this! Iterate over all available languages.. -->
<mat-menu #languageSettings>
  <button fxLayout fxLayoutAlign="start center" mat-menu-item [class.active-language]="isLanguageActive('de')" (click)="switchLanguage('de')">
    <span style="padding-right: 5px;" class='flag-icon flag-icon-de'></span>&nbsp;
    <span>Deutsch</span>
  </button>
  <button fxLayout fxLayoutAlign="start center" mat-menu-item [class.active-language]="isLanguageActive('en')" (click)="switchLanguage('en')">
    <span style="padding-right: 5px;" [class]="'flag-icon flag-icon-us'"></span>&nbsp;
    <span>English</span>
  </button>
</mat-menu>

