<app-auth-card
  [title]="'auth.Register' | transloco"
  [subtitle]="'auth.Please enter your user data to register' | transloco"
>
  <mat-form-field>
    <mat-label>{{ 'auth.Username' | transloco }}</mat-label>
    <input
      matInput
      [placeholder]="'auth.Please enter your username' | transloco"
      #username
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'auth.E-Mail' | transloco}}</mat-label>
    <input
      matInput
      [placeholder]="'auth.Please enter your e-mail address' | transloco"
      #email
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'auth.Password' | transloco }}</mat-label>
    <input
      matInput
      placeholder="••••••••"
      label="Test"
      type="password"
      #password
    >
  </mat-form-field>

  <button mat-flat-button class="login-button" color="accent" (click)="register(username.value, email.value, password.value)">{{ 'auth.Register' | transloco }}</button>
</app-auth-card>
