<form [formGroup]="group" fxLayout fxLayoutGap="15px">
  <div fxLayout="column">
    <div>Anzahl Personen</div>
    <app-text [group]="group" name="persons" label="Anzahl Personen"></app-text>
  </div>
  <div fxLayout="column">
    <div>Maximaler Preis pro Person</div>
    <app-text [group]="group" name="max" label="Maximaler Preis pro Person"></app-text>
  </div>
</form>

<b *ngIf="getMaximalenPreisProPerson() <= 0"> Der Preis pro Person muss größer 0 sein! </b>
<div *ngIf="getNumberOfPersons() > 0">
  <div *ngFor="let rezept of rezepte">
    <div *ngIf="getSumPerPerson(rezept) <= getMaximalenPreisProPerson()">

      <button
        mat-raised-button
        class="rezept-button"
        [class.rezept-button-active]="currentlySelectedRecipe == rezept"
        (click)="onClickRezept(rezept)"
      >
        {{rezept.name}}

      </button>
    </div>
  </div>
</div>


<mat-card class="authors-card">
  <mat-card-header>Authors</mat-card-header>
  <mat-card-content>
    <div *ngFor="let author of findAllAuthors()">
      <button
        class="author-button"
        [class.author-button-active]="selectedAuthor == author"
        mat-raised-button
        (click)="onClickAuthor(author)"
      >{{author.name}}</button>
    </div>
  </mat-card-content>
</mat-card>


<div *ngFor="let selectedRecipe of currentlySelectedRecipes">
  <app-details [rezept]="selectedRecipe" [numberOfPersons]="getNumberOfPersons()" [sum]="getSum(currentlySelectedRecipe)"></app-details>
</div>

<div *ngIf="selectedAuthor">
  <app-author-card [author]="selectedAuthor"></app-author-card>
</div>

