.rezept-button, .author-button {
  margin: 10px;
}

.author-button {
  background-color: lightgray;
}

.rezept-button-active, .author-button-active {
  background-color: blue;
}

.authors-card {
  width: 30%;
}
