<mat-card *ngIf="rezept" style="width:30%; margin:20px">
  <mat-card-header>
    <mat-card-title>{{rezept.name}}</mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <ul>
      <li>Dauer: {{rezept.dauer}} Minuten</li>
      <li *ngFor="let zutat of rezept.zutaten">
        {{zutat.name}}
      <ul>
        <li>
         Menge: {{zutat.quantity * numberOfPersons}}
        </li>
        <li>
         Preis: {{zutat.quantity * numberOfPersons * zutat.price}}€
        </li>

      </ul>
      </li>
      <li>Summe: {{sum}} €</li>

    </ul>
  </mat-card-content>

</mat-card>
