@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import "src/scss/variables";

.bg {
  background-color: mat-color($custom-theme-primary, 900);
}

.auth-card-toggle-container {
  width: 30vw;
}

@media (max-width: 1700px) {
  .auth-card-toggle-container {
    width: 50vw;
  }
}
