<div fxLayout="column" fxFlexFill fxLayoutAlign="start center" class="bg" fxLayoutGap="20px">
  <app-login-title fxFlex="30%" fxLayout="column" fxLayoutAlign="end"></app-login-title>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" fxLayout class="auth-card-toggle-container">
    <mat-button-toggle fxFlex value="log-in" routerLink="/auth/login" routerLinkActive="mat-button-toggle-checked">{{ 'auth.Log In' | transloco }}</mat-button-toggle>
    <mat-button-toggle fxFlex value="sign-up" routerLink="/auth/register" routerLinkActive="mat-button-toggle-checked">{{ 'auth.Register' | transloco }}</mat-button-toggle>
  </mat-button-toggle-group>
  <router-outlet></router-outlet>
</div>

