<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>App Example</span>
    <span class="menu-spacer"></span>
    <a class="nav-btn" routerLink="/users" routerLinkActive="activeNavButton" mat-flat-button>User Overview</a>
    <a class="nav-btn" routerLink="/employees" routerLinkActive="activeNavButton" mat-flat-button>Employee Overview</a>
    <a class="nav-btn" routerLink="/beispiel" routerLinkActive="activeNavButton" mat-flat-button>Beispiel</a>
    <span class="menu-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="accountSettings">
      <mat-icon aria-hidden="false" aria-label="Account Settings">account_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="createDummyData()">
      <mat-icon aria-hidden="false" aria-label="Create Dummy Data">save</mat-icon>
    </button>
    <button mat-icon-button (click)="resetDatabase()">
      <mat-icon aria-hidden="false" aria-label="Reset Database">delete</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #accountSettings>
  <button fxLayout fxLayoutAlign="start center" mat-menu-item (click)="logout()">
    <mat-icon aria-hidden="false" aria-label="Account Settings">logout</mat-icon>Logout
  </button>
</mat-menu>
