.menu-spacer {
  flex: 1 1 auto;
}

.activeNavButton {
  background-color: white !important;
  color: black !important;
}

.mat-flat-button {
  margin: 0 5px;
  background-color: rgba(255,255,255,0.25);
  color: white;
}


