<div fxLayout="row" fxLayoutGap="20px">
  <app-table
    fxFlex="100%"
    [settings]="tableSettings"
    [columns]="columns"
    [data]="data"
    [rightClickMenu]="rightClickMenu"
  >
  </app-table>
<!--  <app-user-form fxFlex="40%"></app-user-form>-->
</div>
