.card {
  border-radius: 5px;
  width: 30vw;
}

.card-header {
  background-color: #e0e0e0;
  padding: 10px;
  color: black;
  margin: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  overflow-wrap: break-word;
}

.card-sub-header {
  padding-top: 5px;
  font-weight: lighter;
  letter-spacing: 1.3px;
  word-spacing: -1.7px;
  line-height: 1.2em;
}

.card-body {
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-body-content {
  padding: 10px;
}

.mat-title {
  margin: 0;
}

.footer {
 color: white;
}

.footer-nav a {
  text-decoration: none;
  color: white;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.login-button:hover {
  background-color: #ffcf33;
}
