<ng-container *transloco="let t; read: 'auth'">
<app-auth-card
  [title]="'auth.Log In' | transloco"
  [subtitle]="'auth.Please log in to continue' | transloco"
>
  <mat-form-field>
    <mat-label>{{ 'auth.Username' | transloco}}</mat-label>
    <input
      matInput
      [placeholder]="'auth.Please enter your username' | transloco"
      #username
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'auth.Password' | transloco }}</mat-label>
    <input
      matInput
      placeholder="••••••••"
      label="Test"
      type="password"
      #password
    >
  </mat-form-field>

  <button mat-flat-button class="login-button" color="accent" (click)="authenticate(username.value, password.value)">{{ 'auth.Log In' | transloco }}</button>
</app-auth-card>
</ng-container>
