<mat-card>
  <mat-card-header style="padding-bottom: 15px">
    <mat-card-title>Add User</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm" fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row">
        <mat-form-field fxFill appearance="fill">
          <mat-label>Please enter your name</mat-label>
          <input matInput placeholder="Name" formControlName="name" required>
          <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-form-field fxFill appearance="fill">
          <mat-label>Please enter your email</mat-label>
          <input matInput placeholder="EMail" formControlName="email" required>
          <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" [disabled]="!userForm.valid" (click)="onSubmit()">Submit</button>
  </mat-card-actions>
</mat-card>

