<mat-form-field
  [formGroup]="group"
  [matTooltip]="getFormInputErrorMessage()"
  [matTooltipDisabled]="!isFormInputInvalid()"
  [matTooltipClass]="'error-tooltip'"
>
  <input type="text"
         aria-label="Number"
         matInput
         [formControlName]="name"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of options" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
