mat-form-field {
  margin-bottom: -10px;
  margin-top: -4px;
}

::ng-deep .mat-autocomplete-panel {
  margin-top: 2px !important;
}

::ng-deep .error-tooltip {
  background-color: rgba(244,67,54,0.7) !important;
  margin-top: -10px !important;
}
