@import '../../node_modules/@angular/material/theming';
@import 'variables';
@include mat-core();

@mixin _mat-toolbar-color($palette) {
  background: mat-color($palette, 900);
  color: mat-color($palette, default-contrast);
}

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent);
@include angular-material-theme($custom-theme);
