<div fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutGap="20px">
    <app-table
      fxFlex="70%"
      [settings]="tableSettings"
      [columns]="columns"
      [data]="data"
      [rightClickMenu]="rightClickMenu"
      (delete)="onDelete($event)"
      (save)="onSave($event)"
    >
    </app-table>
    <app-employee-form fxFlex="30%" (update)="onTableUpdate()"></app-employee-form>
  </div>
</div>
