<mat-card>
  <mat-card-header style="padding-bottom: 15px">
    <mat-card-title>Add New Employee</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="employeeForm" fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row">
        <mat-form-field fxFill appearance="fill">
          <mat-label>Please enter the employee's name</mat-label>
          <input matInput placeholder="Name" formControlName="name" required>
          <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-form-field fxFill appearance="fill">
          <mat-label>Please enter the employee's designation</mat-label>
          <input matInput placeholder="Designation" formControlName="designation" required>
          <mat-error *ngIf="designation.invalid">{{getDesignationErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <!-- Hallo -->
      <div fxLayout="row">
        <mat-form-field fxFill appearance="fill">
          <mat-label>Please enter the employee's salary</mat-label>
          <input matInput placeholder="Salary" formControlName="salary" required>
          <mat-error *ngIf="salary.invalid">{{getSalaryErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" [disabled]="!employeeForm.valid" (click)="onSubmit()">Submit</button>
  </mat-card-actions>
</mat-card>
