<mat-card style="width:30%; margin:20px">
  <mat-card-header>
    <mat-card-title>{{author.name}}</mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <ul>
      <li>Alter: {{author.alter}}</li>
      <li>Ort: {{author.ort}}</li>
    </ul>

    <a  mat-raised-button href="https://google.com/">Mehr Rezepte von {{author.name}}</a>
  </mat-card-content>

</mat-card>
